

spring:
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

          routes:
            # User Service
            - id: user-service
              uri: ${USER_SERVICE_URL}
              predicates:
                - Path=/api/auth/**
                - Path=/api/users/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

            # Transaction Service
            - id: transaction-service
              uri: ${TRANSACTION_SERVICE_URL}
              predicates:
                - Path=/api/transactions/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

            # Notification Service
            - id: notification-service
              uri: ${NOTIFICATION_SERVICE_URL}
              predicates:
                - Path=/api/notify/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

            # Reward Service
            - id: reward-service
              uri: ${REWARD_SERVICE_URL}
              predicates:
                - Path=/api/rewards/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

            # Wallet Service
            - id: wallet-service
              uri: ${WALLET_SERVICE_URL}
              predicates:
                - Path=/api/wallet/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

          httpclient:
            max-initial-line-length: 4096
            max-header-size: 8192

          filters:
            - name: RequestSize
              args:
                maxSize: 1MB
