

spring:
  data:
    redis:
      host: localhost
      port: 6379

  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
          routes:
            # user microservice
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/auth/**
                - Path=/api/users/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

            # transaction microservice
            - id: transaction-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/transactions/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

            # notification microservice
            - id: notification-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/notify/**
              filters:
                  - name: RequestRateLimiter
                    args:
                      redis-rate-limiter.replenishRate: 10
                      redis-rate-limiter.burstCapacity: 20
                      redis-rate-limiter-requestedToken: 1

            # reward microservice
            - id: reward-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/rewards/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter-requestedToken: 1

    httpclient:
      max-initial-line-length: 4096
      max-header-size: 8192
    filters:
      - name: RequestSize
        args:
          maxSize: 1MB